version: "3.8"
services:
  flask-app:
    image: crustlorde/flask-ci-cd-demo:latest   # replace with your Docker Hub image name OR build process
    restart: unless-stopped
    ports:
      - "5000:5000"
